*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    border: 3px solid black;
}
.main{
    height: 500px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: 0 20px 25px;
    flex-direction: column;
    
}
h1{
    text-align: center;
    
}
.date{
    width: 300px;
    padding: 50px;
    margin: 90px;
}
.days{
    display: flex;
    flex-wrap: wrap;

}
.day,.number{
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    width: 50px;
    align-items: center;
    justify-content: center;
}